node_modules/
packages/front/node_modules
packages/back/node_modules

packages/front/dist
packages/front/.cache

packages/front/src/app/ongsList/node_modules
packages/front/src/app/ongsList/dist
packages/front/src/app/ongsList/.cache

packages/back/dist